.entry__plan {
  padding-top: 90px;
}

@media (min-width: $tablet-width) {
  .entry__plan {
    padding-top: 77px;
    width: 459px;
  }
}

@media (min-width: 1200px) {
  .entry__plan {
    padding-top: 80px;
  }
}
