.page-wrapper__chapter {
  background-image: url("../img/header/background-home.jpg");
  background-repeat: no-repeat;
  background-color: #81b3d2;
  height: 389px;
}

.vector-welcome {
  position: absolute;
  width: 282px;
  height: 214px;
  left: 19px;
  top: 146px;
}
