.page-header__logo-image {
  height: 56px;
}

@media (min-width: 768px) {
  .page-header__nav {
    position: relative;
  }

  .page-header__logo-image {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    margin-left: -92.5px;
  }
}

@media (min-width: 1200px) {
  .page-header__nav {
    position: relative;
  }

}
