.presentation__item {
  list-style: none;
  display: inline-block;
}

.presentation__item:nth-child(n+6) {
  min-height: 165px;
  background-color: $background-item;
}

.presentation__highlights-title {
  color: $color-main;
  padding-top: 54px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 1.44;
  margin: 0;
}

.presentation__highlights-numbering {
  color: $color-main;
  padding-bottom: 17px;
  margin: 0;
}

.presentation__highlights-description {
  color: $color-main;
  padding-bottom: 37px;
  margin: 0;
}

.presentation__preeminence-img,
.presentation__highlights-item {
  background-color: $environment-background;
  list-style: none;
  height: 256px;
}

.presentation__highlights-img,
.presentation__preeminence-item {
  background-color: $environment-background;
  list-style: none;
  height: 256px;
}

.presentation__img {
  width: 100%;
  height: 260px;
}

.presentation__preeminence-title {
  color: $color-main;
  padding-top: 37px;
  margin-top: 46px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.44;
}

.presentation__preeminence-numbering {
  color: $color-main;
  margin-bottom: 17px;
}

.presentation__preeminence-description {
  color: $color-main;
  margin-bottom: 37px;
}

.presentation__numbering {
  margin: 0;
}

.presentation__list {
  outline: $outline;
  margin: 0;
  padding: 0;
  background-color: $background-main;
  display: flex;
  flex-direction: column;
}

.presentation__items {
  margin: 0;
  padding: 0;
}

.presentation__title {
  color: $color-title;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  padding-top: 31px;
  padding-bottom: 16px;
  padding-left: 47px;
  text-align: start;
  margin: 0;
}

.presentation__description {
  text-align: start;
  padding-left: 47px;
}

.presentation__title-rank {
  color: $color-title;
  font-size: 18px;
  line-height: 1.44;
  padding-top: 24px;
}

.presentation__description-rank {
  padding: 20px 18px 49px 18px;
  border-bottom: 1px solid #d6d6d6;
}

.presentation__piece {
  padding: 0 18px;
  margin: 0;
  position: relative;
}

.presentation__benefit {
  padding: 0 18px;
}

.presentation__item--house {
  background-image: url("../img/mobile/icon/icon-house.svg");
  background-repeat: no-repeat;
  background-position: top 23px left 18px;
}

.presentation__item--burger {
  background-image: url("../img/mobile/icon/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: top 23px left 18px;
}

.presentation__item--gift {
  background-image: url("../img/mobile/icon/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: top 23px left 18px;
}

@media (min-width: $tablet-width) {
  .presentation__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 768px;
  }

  .presentation__piece {
    padding: 0 18px;
  }

  .presentation__highlights-item {
    grid-column: 1/2;
    min-height: 256px;
  }

  .presentation__highlights-img {
    grid-column: 2/4;
  }

  .presentation__highlights-img img {
    width: 100%;
    height: 256px;
  }

  .presentation__preeminence-item {
    grid-column: 3/4;
    min-height: 256px;
  }

  .presentation__preeminence-img {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .presentation__preeminence-img img {
    width: 100%;
    height: 256px;
  }

  .presentation__title {
    text-align: center;
    padding: 0;
  }

  .presentation__description {
    text-align: center;
    padding: 0;
  }

  .presentation__description-rank {
    border: none;
  }

  .presentation__description-last {
    padding: 20px 18px 49px 18px;
  }
}

@media (min-width: $desktop-width) {
  .presentation__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
  }

  .presentation__highlights-item {
    grid-column: 1/2;
    min-height: 256px;
  }

  .presentation__highlights-img {
    grid-column: 2/4;
  }

  .presentation__preeminence-item {
    grid-column: 3/4;
    min-height: 256px;
  }

  .presentation__preeminence-img {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .presentation__title {
    text-align: center;
    padding: 0;
  }

  .presentation__description {
    text-align: center;
    padding: 0 50px 69px;
  }

  .presentation__item {
    min-height: 330px;
  }

  .presentation__item:nth-child(n+4) {
    min-height: 256px;
  }

  .presentation__highlights-title {
    padding: 40px 140px 20px;
    margin: 0;
  }

  .presentation__highlights-numbering {
    margin: 0;
    padding: 0;
  }

  .presentation__highlights-description {
    padding: 30px 50px 55px;
    margin: 0;
  }

  .presentation__highlights-description:nth-child(n+2) {
    padding: 0 50px 69px;
  }

  .presentation__preeminence-title {
    padding: 52px 60px 22px;
    margin: 0;
  }

  .presentation__preeminence-numbering {
    margin: 0;
  }

  .presentation__preeminence-description {
    padding: 33px 90px 55px;
    margin: 0;
  }

  .presentation__title-rank {
    padding: 60px 140px 22px;
    margin: 0;
  }

  .presentation__description-rank {
    padding: 35px 50px 57px;
    border: none;
  }

  .presentation__description-last {
    padding: 35px 50px 57px;
  }
}
