.search-hotels__title {
  color: #000000;
  margin-top: 95px;
  size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 25px;
}

.search-hotels__description {
  margin-bottom: 32px;
}

.search-hotels__button {
  background-color: #81b3d2;
  display: block;
  width: 284px;
  padding: 16px 49px;
  color: #ffffff;
  text-decoration: none;
}
.search-hotels__piece {
  padding: 0 18px;
}
