.vector__welcome {
  padding-top: 90px;
}

@media (min-width: $tablet-width) {
  .vector__welcome {
    padding-top: 133px;
  }
}

@media (min-width: 1200px) {
  .vector__welcome {
    padding-top: 134px;
  }
}
