.welcome__backdrop {
  background-image: url("../img/header/background-catalog.jpg");
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

.welcome__image {
  margin-top: 52px;
  margin-bottom: 67px;
}
